@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";


@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/form";
@import "./layout/footer";


#reserver
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#grey
{
    width: 92%;
    padding-top: 10px;
}

.page-1
{
    width: 84%;
    margin-top: 30px;
}

h2
{
    padding-top : 35px;
    padding-left: 15px;
    margin-bottom: 20px;
}

main
{
    display: flex;
    flex-wrap: wrap;
}

#fonctionnement
{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    background-color: $colour-white;
}

#cartouches
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cartouche
{
    display: flex;
    width: 290px;
    height: 70px;
    border-radius: 20px;
    background-color:$colour-secondary;
    margin-bottom: 20px;
}

.cercle
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    background-color: $colour-violet;
    margin-left: -10px;
    margin-right: 20px;
    color: $colour-white;
}

.icone
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 15px;
    font-size: 13px;
    color: #7e7e7e; 
}

.texte
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 210px;
}

.purple
{
    color: $colour-violet;
}

.purple-light
{
    background-color: #F5edff;
}

#restaurants
{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

#liste-restaurants
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a
{
    text-decoration: none;
    width: 290px;
}

figure
{
    width: 290px;
    position: relative;
    margin-bottom: 20px;
}

figure .dessus
{
    position: absolute;
    text-align: center;
    margin-right: 10px;
    right: 0;
    top: 5%;
    background-color: $colour-vert;
    width: 22%;
}

figure img
{
    border-radius: 12px 12px 0px 0px;
}

.index
{
    display: flex;
    flex-wrap: wrap;
    width: 290px;
    position: relative;
    margin-top: -9px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0px 0px 10px #d7d7d7 ;
    padding: 13px 10px;
}

.index h3, p 
{
    width: 240px;
}

.coeur
{
    font-size: 22px;
    width: fit-content;
    margin-top: -15px;
    &:hover .color 
    {
    @include heart-hover;
    }
}

.color
{
    @include heart;
    left: 249px;
    font-size: 26px;
    top: 15px;
}

.image-plat
{
    width: 100%;
}

.image-plat img
{
    width: 100%;
    
}

#carte
{
    justify-content: space-evenly;
}

figcaption
{
    display: flex;
    position: absolute;
    top: 86%;
    background-color: $colour-secondary;
    border-radius: 30px 30px 0px 0px;
    padding-top: 25px;
}

h1
{
    margin-left: 15px;
}

#icone
{
    width: 50px;
    position: relative;
    &:hover .colors
    {
        @include heart-hover;
    }
}

.colors
{
    @include heart;
    font-size: 22px;
    left: -1px;
    top: -1px;
}


#entrees, #plats, #desserts
{
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    justify-content: flex-start;
}

.rectangles
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu
{
    border-bottom: $colour-vert solid 3px;
    width: 32px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-left: 0px;
}

.rectangle
{
    display: flex;
    overflow: hidden;
    position: relative;
    background-color: $colour-white;
    border-radius: 15px;
    height: 60px;
    margin-bottom: 15px;
    width: 295px;
    padding-left: 10px;
    &:hover .check
    {
        width: 60px;
        transform: rotate(360deg);
        > .fa-check-circle 
        {
            opacity: 1;
        }
    }
}


.intitule
{
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rectangle p , h3
{
    overflow: hidden;
    text-overflow: ellipsis;
}

.prix
{
    display: flex;
    justify-content: flex-end;
    padding: 30px 15px 13px 7px;
    width: 50px;
}


.check
{
    display: flex;
    align-items: center;
    background-color: $colour-vert;
    color: $colour-white;
    width: 0px;
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    transition: width 700ms ease-in-out, transform 700ms;
}
    

.check i
{
    display: flex;
    justify-content: center;
}

#entrees
{
    animation: fadein 1500ms ease;
}

#plats
{
    animation: fadein 3000ms ease;
}

#desserts
{
    animation: fadein 4500ms ease;
}

#loader
{
    background:-webkit-linear-gradient(#eaeaea,#ef74da, $colour-violet, #238475, $colour-vert);
    width: 100%;
    height: 100%;
    font-family: Shrikhand, sans-serif;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    pointer-events: none;
    z-index: 2;
    animation: loading 1s ease-in-out 3s forwards;
  }

  #loader-spinner
  {
    vertical-align: middle;
    position: absolute;
    top: 20%;
    color: $colour-vert;
    font-size: 170px;
    animation: rotate 0.7s linear infinite alternate;
  }
  
  .fa-snowflake
  {
      color: $colour-white;
      animation: rotate 0.4s ease-in-out infinite alternate;
  }


@media only screen and (min-width: 500px) 
{
    h2
    {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    #fonctionnement
    {
        padding-bottom: 20px;
    }

    .cartouche
    {
        margin-right: 15px;
    }

    a 
    {
        margin-right: 10px;
    }

    #restaurants
    {
        padding: 0px;
    }
    
    #entrees, #plats, #desserts
    {
        width: 100%;
        justify-content: center;
    }

    .rectangle
    {
        margin-right: 15px;
    }

    .menu
    {
        width: 100px;
        margin-left: 0px;
    }

    figcaption
    {
        top: 94%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px)
{
    #texte-icone
    {
        top: 35%;
    }
}