footer
{
    display: flex;
    flex-wrap: wrap;
    background-color: #353535;
    height: 190px;
    padding-left: 15px;
    margin-top: 30px;
}

.liste
{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: -20px;
}

.icone-footer
{
    width: 20px;
    margin-top: 2px;
}

footer p
{
    width: 92%;    
}

.cursive
{
    margin-top: 20px;
}

footer a 
{
    width: 21%;
}

@media only screen and (min-width: 500px) 
{
    footer p 
    {
        width: 24%;
    }
}