#localisation{
    display: flex;
    background-color:#EAEAEA ;
    box-shadow: 0px -3px #d5d5d5;
}


#ic-local{
    display: flex;
    margin-left: 25%;
    height: 50px;
    align-items: center;
    font-size: 14px;
    color: #000;
}

#recherche
{
    height: 50px;
    margin-left: -75%;
    border: none;
    font-size: 16px;
    font-weight: bolder;
    background-color:#EAEAEA ;
}

::placeholder
{
    color: black;
    opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px)
{
    #ic-local
    {
        margin-left: 40%;
    }
}

@media only screen and (min-width: 1025px) 
{
    #ic-local
    {
        margin-left: 42%;
    }

}