@keyframes fadein {
  0% {
    opacity: 0;
  }
  19% {
    opacity: 0.15;
  }
  45% {
    opacity: 0.25;
  }
  76% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  width: 100%;
}

body {
  box-sizing: border-box;
  background: #F6F6F6;
}

#bloc-page {
  max-width: 1440px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.7;
}

.cursive {
  font-family: "Shrikhand", cursive;
  font-size: 17px;
}

#reserver {
  line-height: 1.1;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  font-family: "Shrikhand", cursive;
}

.page-1 {
  font-family: "Roboto";
}

h2 {
  font-size: 18px;
}

h3 {
  margin: 0px;
  font-size: 14px;
}

#grey {
  font-size: 15px;
  color: #353535;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: white;
}

.texte {
  font-size: 14px;
  font-weight: 700;
}

#restaurants p {
  font-size: 0.8em;
}

#restaurants .dessus {
  color: #139273;
  font-weight: 600;
  font-size: 0.7em;
}

figcaption {
  line-height: 1.2;
  color: black;
}

.coeur {
  color: black;
  font-size: 10px;
  font-weight: 600;
  font-size: 0.7em;
}

footer {
  color: white;
  font-size: 14px;
}

.icone-footer {
  font-size: 11px;
}

footer a {
  color: white;
}

.fleche {
  font-size: 17px;
  color: black;
}

.titre {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 23px;
}

.menu {
  font-size: 12px;
}

.rectangle p {
  font-size: 12px;
}

.prix {
  font-size: 13px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  h2, .cursive {
    font-size: 22px;
  }

  .menu {
    font-size: 21px;
  }
}
button {
  border: 0;
  background-image: linear-gradient(to bottom right, #ef74da, #a05adc);
  border-radius: 40px;
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 7px #808080;
}
button:hover {
  box-shadow: 0px 0px 30px #696969;
  opacity: 0.85;
}

#explorer {
  width: 190px;
}

header {
  height: 60px;
  width: 100%;
}

header img {
  height: 64px;
  width: 160px;
}

.header-restaurant, header {
  display: flex;
  justify-content: center;
  background: white;
  width: 100%;
}

.fleche {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 64px;
}

.header-restaurant img {
  width: 44%;
  margin-right: 28%;
}

@media only screen and (min-width: 768px) {
  header img {
    width: 250px;
  }

  .header-restaurant {
    height: 70px;
  }
}
@media only screen and (min-width: 1150px) {
  .header-restaurant img {
    margin-right: 22%;
  }
}
#localisation {
  display: flex;
  background-color: #EAEAEA;
  box-shadow: 0px -3px #d5d5d5;
}

#ic-local {
  display: flex;
  margin-left: 25%;
  height: 50px;
  align-items: center;
  font-size: 14px;
  color: #000;
}

#recherche {
  height: 50px;
  margin-left: -75%;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  background-color: #EAEAEA;
}

::placeholder {
  color: black;
  opacity: 1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #ic-local {
    margin-left: 40%;
  }
}
@media only screen and (min-width: 1025px) {
  #ic-local {
    margin-left: 42%;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #353535;
  height: 190px;
  padding-left: 15px;
}

.liste {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: -20px;
}

.icone-footer {
  width: 20px;
  margin-top: 2px;
}

footer p {
  width: 91%;
}

.cursive {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  footer p {
    width: 23%;
  }
}
#reserver {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#grey {
  width: 92%;
  padding-top: 10px;
}

.page-1 {
  width: 84%;
  margin-top: 30px;
}

h2 {
  padding-top: 35px;
  padding-left: 15px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

#fonctionnement {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  background-color: white;
}

#cartouches {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cartouche {
  display: flex;
  width: 290px;
  height: 70px;
  border-radius: 20px;
  background-color: #F6F6F6;
  margin-bottom: 20px;
}

.cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -10px;
  margin-right: 20px;
  color: white;
}

.icone {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 15px;
  font-size: 13px;
  color: #7e7e7e;
}

.texte {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 210px;
}

.purple {
  color: #9356DC;
}

.purple-light {
  background-color: #F5edff;
}

#restaurants {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
}

#liste-restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  width: 290px;
}

figure {
  width: 290px;
  position: relative;
  margin-bottom: 20px;
}

figure .dessus {
  position: absolute;
  text-align: center;
  margin-right: 10px;
  right: 0;
  top: 5%;
  background-color: #99e2d0;
  width: 22%;
}

figure img {
  border-radius: 12px 12px 0px 0px;
}

.index {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  position: relative;
  margin-top: -9px;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 0px 10px #d7d7d7;
  padding: 13px 10px;
}

.index h3, p {
  width: 240px;
}

.coeur {
  font-size: 22px;
  width: fit-content;
  margin-top: -15px;
}
.coeur:hover .color {
  width: 100%;
}
.coeur:hover .color > .fa-heart {
  opacity: 1;
}

.color {
  background-image: linear-gradient(#a05adc, #ef74da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 0px;
  transition: width 700ms ease, transform 700ms;
  left: 249px;
  font-size: 26px;
  top: 15px;
}

.image-plat {
  width: 100%;
}

.image-plat img {
  width: 100%;
}

#carte {
  justify-content: space-evenly;
}

figcaption {
  display: flex;
  position: absolute;
  top: 86%;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0px 0px;
  padding-top: 25px;
}

h1 {
  margin-left: 15px;
}

#icone {
  width: 50px;
  position: relative;
}
#icone:hover .colors {
  width: 100%;
}
#icone:hover .colors > .fa-heart {
  opacity: 1;
}

.colors {
  background-image: linear-gradient(#a05adc, #ef74da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 0px;
  transition: width 700ms ease, transform 700ms;
  font-size: 22px;
  left: -1px;
  top: -1px;
}

#entrees, #plats, #desserts {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: flex-start;
}

.rectangles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.menu {
  border-bottom: #99e2d0 solid 3px;
  width: 32px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-left: 0px;
}

.rectangle {
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-radius: 15px;
  height: 60px;
  margin-bottom: 15px;
  width: 295px;
  padding-left: 10px;
}
.rectangle:hover .check {
  width: 60px;
  transform: rotate(360deg);
}
.rectangle:hover .check > .fa-check-circle {
  opacity: 1;
}

.intitule {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rectangle p, h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.prix {
  display: flex;
  justify-content: flex-end;
  padding: 30px 15px 13px 7px;
  width: 50px;
}

.check {
  display: flex;
  align-items: center;
  background-color: #99e2d0;
  color: white;
  width: 0px;
  font-size: 18px;
  border-radius: 0px 10px 10px 0px;
  transition: width 700ms ease-in-out, transform 700ms;
}

.check i {
  display: flex;
  justify-content: center;
}

#entrees {
  animation: fadein 1500ms ease;
}

#plats {
  animation: fadein 3000ms ease;
}

#desserts {
  animation: fadein 4500ms ease;
}

#loader {
  background: -webkit-linear-gradient(#eaeaea, #ef74da, #9356DC, #238475, #99e2d0);
  width: 100%;
  height: 100%;
  font-family: Shrikhand, sans-serif;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  pointer-events: none;
  z-index: 2;
  animation: loading 1s ease-in-out 3s forwards;
}

#loader-spinner {
  vertical-align: middle;
  position: absolute;
  top: 20%;
  color: #99e2d0;
  font-size: 170px;
  animation: rotate 0.7s linear infinite alternate;
}

.fa-snowflake {
  color: white;
  animation: rotate 0.4s ease-in-out infinite alternate;
}

@media only screen and (min-width: 500px) {
  h2 {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }

  #fonctionnement {
    padding-bottom: 20px;
  }

  .cartouche {
    margin-right: 15px;
  }

  a {
    margin-right: 10px;
  }

  #restaurants {
    padding: 0px;
  }

  #entrees, #plats, #desserts {
    width: 100%;
    justify-content: center;
  }

  .rectangle {
    margin-right: 15px;
  }

  .menu {
    width: 100px;
    margin-left: 0px;
  }

  figcaption {
    top: 94%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #texte-icone {
    top: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
