button, #explorer
{
    border: 0;
    background-image: linear-gradient(to bottom right, #ef74da, #a05adc);
    border-radius: 40px;
    width: 200px;
    height: 50px;
    margin-top: 25px;
}


button
{
    width: 190px;
    margin-bottom: 60px;
    margin-left: 20%;
}