@mixin heart 
{
    background-image: linear-gradient(#a05adc,#ef74da);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

@mixin heart-hover
{
    width: 27px;
    > .fa-heart 
    {
        opacity: 1;
    }
} 

@mixin transition
{
    transition: width 0.7s ease-in-out, transform 0.5s;
}
